<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="5">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5level [%logger{3.}] - %msg%n" />
        </Console>
        <RollingFile name="file"
            fileName="${sys:catalina.base}/logs/petclinic.log"
            filePattern="${sys:catalina.base}/logs/petclinic-%i.log.gz">
            <PatternLayout pattern="%d %-5level [%logger{3.}] - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="512 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>
